/* Variables
/* ---------------------------------------------------------- */

/* Custom Properties */
:root {

    /* COLOURS */
    --dark-gray: #505054;
    --ghost-white: #f5f5f7;
    --pumpkin: #ff7400;
    --slate-gray: #545454;
    --orangeish: #f30;
    --onyx: #1d1d1f;
    --yellow: #FFFFD1;

    /* FONTS */
    --alt: 'adelle-sans-condensed','SF Pro Display', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, ui-sans-serif, system-ui, Ubuntu, Cantarell, 'Noto Sans', 'Droid Sans', sans-serif;
    --display: 'adelle-condensed','SF Pro Display', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, ui-sans-serif, system-ui, Ubuntu, Cantarell, 'Noto Sans', 'Droid Sans', sans-serif;
    --mono: 'SF Mono', ui-monospace, Menlo, Consolas, Roboto Mono, 'Ubuntu Mono', 'DejaVu Sans Mono', monospace;
    --sans-serif: adelle, 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, ui-sans-serif, system-ui, Ubuntu, Cantarell, 'Noto Sans', 'Droid Sans', sans-serif;
    --serif: 'New York', -apple-system, BlinkMacSystemFont, Georgia, ui-sans-serif, system-ui, serif;

    /* SIZES */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    --grid-gap: 3rem;

    /* Box-shadows */
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1), 0 0 0 1px rgb(17 24 39 / 0.1);
}
