    <header>
    <div class="hat">
       <!-- <div id="eyepop">
            <p class="motto"><span class="accent">
            What's All This Then?</span>
            </p>
            <p class="tease"><span class="accent">
            This site is edited by <a href="about.php" target="_self">Coudal Partners,</a> a design,
            advertising and interactive studio in Chicago, as an ongoing experiment in
            web publishing, design and commerce.</span>
            <a target="_self" href="https://web.archive.org/web/20050301003430/JavaScript:showDiv('eyepop2');" onmouseover="window.status='Open Popup';return true;" onmouseout="window.status='';return true;">[Next]</a>
            </p>
        </div>
        <div id="eyepop2">
            <p class="motto"><span class="accent">
            What's All This Then?</span>
            </p>
            <p class="tease"><span class="accent">
            The text ads that appear here are available, but we're a bit picky about
            <a href="ads.php" target="_self">the kind of things we'll allow</a>. Sell us something then we'll sell you an ad.</span>
            <a target="_self" href="https://web.archive.org/web/20050301003430/JavaScript:hideDiv('eyepop2');hideDiv('eyepop')" onmouseover="window.status='Close Popup';return true;" onmouseout="window.status='';return true;">[Hide]</a>
            </p>
        </div> -->
        <div class="head-bloc">
            <p class="heading"><a href="{{@site.url}}">{{@site.title}}</a></p>
            <p>We started this electronic scrapbook to keep us more or less sane and charitable. Equanimity created is closer than equanimity found.</p>
        </div>
        <div class="head-bloc">
            <p class="heading">{{date format="dddd, MMMM D, YYYY"}}</p>
            <p>We made it another day. Fuck yeah!. Make the most of it. Hug the people you love. Also <span class="mono">50</span> days till opening day.</p>
        </div>
        <div class="head-bloc support">
            <div class="about-bloc-text">
                 <p class="heading">Memberships</p>
                 <p>If you enjoy our work and are so inclined, jump to <a href="/memberships">our membership page</a> to checkout the various options.</p>
            </div>
            <div class="logo">
            <a href="/"><img src="{{asset 'media/img/hal.svg'}}" height="60" width="60" alt="Rad Pup Newsletter Mascot"></a>
            </div>
        </div>
    </div>
    <div class="masthead">
        <a href="/"><img src="https://picsum.photos/960/340" height="340" width="960" border="0"/></a>
    </div>
</header>