<div id="footer">
    <p>&copy; {{@site.title}} {{date format="YYYY"}} | <a href="https://web.archive.org/web/20050301003430/http://coudalpartners.projectpath.com/login/">Clients</a></span></p>
    <div class="quotes">
        <div class="testimonials">
            <blockquote id="testimonal">
                <div class="testimonial-content"></div>
            </blockquote>
        </div>
    </div>
</div>