    <header>
    <div class="hat">
       <!-- <div id="eyepop">
            <p class="motto"><span class="accent">
            What's All This Then?</span>
            </p>
            <p class="tease"><span class="accent">
            This site is edited by <a href="about.php" target="_self">Coudal Partners,</a> a design,
            advertising and interactive studio in Chicago, as an ongoing experiment in
            web publishing, design and commerce.</span>
            <a target="_self" href="https://web.archive.org/web/20050301003430/JavaScript:showDiv('eyepop2');" onmouseover="window.status='Open Popup';return true;" onmouseout="window.status='';return true;">[Next]</a>
            </p>
        </div>
        <div id="eyepop2">
            <p class="motto"><span class="accent">
            What's All This Then?</span>
            </p>
            <p class="tease"><span class="accent">
            The text ads that appear here are available, but we're a bit picky about
            <a href="ads.php" target="_self">the kind of things we'll allow</a>. Sell us something then we'll sell you an ad.</span>
            <a target="_self" href="https://web.archive.org/web/20050301003430/JavaScript:hideDiv('eyepop2');hideDiv('eyepop')" onmouseover="window.status='Close Popup';return true;" onmouseout="window.status='';return true;">[Hide]</a>
            </p>
        </div> -->
        <div class="head-bloc">
            <p class="heading"><a href="{{@site.url}}">{{@site.title}}</a></p>
            <p><a href="https://web.archive.org/web/20050301003430/http://rotofugi.com/coudal2_05.html">Rotofugi</a>. No, we don't make all the toys. Yes, they are awesome. <a target="_self" href="https://web.archive.org/web/20050301003430/JavaScript:showDiv('eyepop');" onmouseover="window.status='Open Popup';return true;" onmouseout="window.status='';return true;">
              About This Site</a></p>
        </div>
        <div class="head-bloc">
            <p class="heading">{{date format="dddd, MMMM D, YYYY"}}</p>
            <p><a href="https://web.archive.org/web/20050301003430/http://rotofugi.com/coudal2_05.html">Rotofugi</a>. No, we don't make all the toys. Yes, they are awesome.</p>
        </div>
        <div class="head-bloc about">
            <div class="about-bloc-text">
                 <p class="heading">Memberships</p>
                 <p><a href="https://web.archive.org/web/20050301003430/http://rotofugi.com/coudal2_05.html">Rotofugi</a>. No, we don't make all the toys. Yes, they are awesome.</p>
            </div>
            <a href="index.php" target="_self"><img class="logo" src="{{asset 'media/img/hal.svg'}}" height="60" width="60" alt="Rad Pup Newsletter Mascot"></a>
        </div>
    </div>
    <div class="masthead">
        <a href="https://web.archive.org/web/20050301003430/http://www.castofshadows.net/"><img src="https://picsum.photos/880/280" height="280" width="880" border="0"/></a>
    </div>
</header>