{{!< default}}
<div id="trojan">
    {{> "layout/site-header"}}
    <div class="col-wrap">
        {{> "layout/homepage/main-col"}}
        {{> "layout/homepage/quickbytes"}}
        {{> "layout/homepage/site-deets"}}
    </div>
    {{> "layout/site-footer"}}
</div>