{{!< default}}
<div id="trojan">
    {{> "layout/site-header"}}
    <div class="col-wrap">
        {{!XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        MAIN COLUMN
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX}}
        <main class="longform">
            <div class="longform-wrap">
                {{#get "posts" include="tags,authors" filter="tags:-[bookmarks,qik,noted,link]" limit="20" as |post|}}
                    {{#post}}
                    {{> "cards/article-card"}}
                    {{/post}}
                {{/get}}
            </div>
        </main>
        {{!XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        QUICK BYTES COLUMN
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX}}
        <div class="lilcol quickbytes">
            <div id="lilcol-wrap">
                <h4>Quick Bytes<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-rss"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg></h4>
                {{#get "posts" include="tags,authors" filter="tags:[bookmarks,qik,noted,note,link]" limit="20" as |post|}}
                    {{#post}}
                    {{> "cards/quickbytes-card"}}
                    {{/post}}
                {{/get}}
                    <p>
                    Feed: <a href="https://web.archive.org/web/20050301003430/http://feeds.feedburner.com/CoudalFreshSignals">RSS, Atom, Etc.</a>
                    </p>
                </div>
            </div>
        {{!XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        MISC COLUMN
        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX}}
        <div class="lilcol misc">
                <div id="lilcol-wrap">
                    <div id="nav">
                        <ul id="navPyra">
                            <li><a href="index.php" class="active" target="_self">About <em>You Can't Be Serious</em></a></li>
                            <li><a href="pagetwo.php" target="_self">Communicate with Us</a></li>
                            <li><a href="about.php" target="_self">Memberships/Subscriptions</a></li>
                            <li><a href="moom.php" target="_self">Our House Rules</a></li>
                            <li><a href="moom.php" target="_self">Nerd Alert!</a></li>
                            <li><a href="depth.php" target="_self">Blogroll</a></li>
                            <li><a href="reading.php" target="_self">Now</a></li>
                            <li><a href="library.php" target="_self">Privacy Policy</a></li>
                            <li><a href="tennis.php" target="_self">Terms of Service</a></li>
                            <li><a href="slowtron.php" target="_self">Western State</a></li>
                            <li><a href="trail.php" target="_self">RSS Feeds</a></li>
                            <li><a href="ads.php" target="_self">Site Changelog</a></li>
                        </ul>
                    </div>
                    <section class="newsletter">
                    <h4>Newsletter People!</h4>
                    <p>You know the drill. At this point another one isn't gonna kill you. Check out the Newsletter Page for info.</p>
                    <form data-members-form class="newsletter-form">
                        <div class="input-group">
                            <input data-members-email type="email" placeholder="jules@badmotherfucker.com" required>
                            <button type="submit">Submit Your Email</button>
                        </div>
                    </form>
                    </section>

                    <section>
                    <h4>A Thing We Made:</br>Jewelboxing</h4>
                    <p>
                    We hated the options available for custom packaging DVDs and CDs so we <a href="https://web.archive.org/web/20050301003430/http://www.jewelboxing.com/">created a brand that gives
                    creative professionals and hobbyists the tools to make great stuff</a>.
                    Here's a bit from the latest Jewelboxing weblog entry:
                    </p>

                    <p><i>"It took us almost six months to get it just exactly right but we're happy to report that all Jewelboxing orders are now shipping with <b>our new custom-milled and custom-coated paper.</b> It performs incredibly well."</i> <a href="https://web.archive.org/web/20050301003430/http://www.jewelboxing.com/blog.php">Read the entire post</a>.
                    </p>
                    </section>

                    <section>
                    <h4>Testimonials</h4>
                    <p>
                    <img class="wrap" src="https://picsum.photos/100/100" align="left">
                    If it's not on the shelves where it belongs it's probably on Bryan's desk or
                     in Susan's bag or maybe in the kitchen under a pizza box or something. <a href="library.php" target="_self">These
                     are books we simply can't work without</a>. Divided by writing, design and code references.
                    </p>
                    </section>

                    <section>
                    <h4>The Next Big Thing</h4>

                    <p>
                    <a href="https://web.archive.org/web/20050301003430/http://www.castofshadows.net/"><i>"Cast of Shadows"</i></a><br/>
                    KG's debut novel, a wicked thriller, to be published by Knopf in March</a>.
                    </p>


                    <p>
                    <a href="https://web.archive.org/web/20050301003430/http://www.coudal.com/trailoftears.php" target="_self">"The Trail"</a><br/>
                    The coolest thing ever. Soon.
                    </p>

                    <p>
                    "Demo Love"<br/>
                    A big music contest with a unique prize. Coming in March.
                    </p>

                    <p>
                    <a href="https://web.archive.org/web/20050301003430/http://www.lowercasetee.com/">Lowercase Tees</a><br/>
                    New designs for politically and otherwise active kids, coming soon.
                    </p>
                    </section>

                    <section>
                        <blockquote>"Blogs are teeming petri dishes of malignant mediocrity. Written by mental maggots consuming their own predigested pablum. You Can't Be Serious is the excretion."
                            <cite><a href="about.php" target="_self">Lydia Tar</a>.</cite>
                        </blockquote>
                    </section>

                    <h4>infrequent mail</h4>
                    <p>
                    For a quick note when these features go live and other sporadic updates,
                    which always include a way to win free stuff, enter your email here. We
                    won't ever abuse the privilege. Period.
                    </p>


                    <iframe width="180" height="200" frameborder="0" src="/web/20050301003430if_/http://www.coudal.com/shopformCM.php"> </iframe>

                </div>
            </div>
    </div>
    <div id="footer">
    <p>

    &copy; {{@site.title}} {{date format="YYYY"}} | <a href="https://web.archive.org/web/20050301003430/http://coudalpartners.projectpath.com/login/">Clients</a></span>
</p>

    </div>
</div>

