/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "base/reset.css";
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    max-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #fff;
    background-attachment: fixed;
    border-top: 2px solid #858383;
    color: #1d1d1f;
    font-family: var(--sans-serif);
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

a:link {
    color: #222222;
    text-decoration: none;
    padding-bottom: 0px
}

.accent {
    color: #858383;
}

a {}

a:visited {
    color: #222;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px solid #CCC;
}

a:active {
    color: #777;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px solid #CCC;
}

a:hover {
    color: #858383;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px solid #CCC;
}

.strikethrough {
    text-decoration: line-through;
    text-decoration-color: red;
}

.skip-link {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.skip-link:focus {
    background: #fff;
    clip: auto;
    color: var(--onyx);
    height: auto;
    left: 50%;
    outline: 2px solid #000;
    padding: 8px 16px;
    position: fixed;
    top: 10px;
    transform: translateX(-50%);
    width: auto;
    z-index: 9999;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only-focusable:not(:focus) {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only-focusable:focus {
    background: #fff;
    border: 2px solid var(--onyx);
    color: var(--onyx);
    height: auto;
    left: 0;
    margin: 1rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 9999;
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--display);
}

/* 			_______________________	*/
/*			STRUCTURAL 				*/

#trojan {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.col-wrap {
    border-top: 3px double #9f9f9f;
    display: flex;

    margin: 1rem auto 0;
    width: 96rem;
}

#framein {
    width: 96rem;
    margin: 0 auto;
}

#footer {
    border-top: 3px double #9f9f9f;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 96rem;
}

#footer p {
    color: var(--slate-gray);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}


/* 			_______________________	*/
/*			THE MASTHEAD			*/

.hat {
    align-content: flex-start;
    border-bottom: 3px double #9f9f9f;
    display: flex;
    gap: 4rem;
    height: auto;
    justify-content: space-between;
    margin: 1rem auto;
    padding: 1rem 0;
    position: relative;
    text-align: left;
    width: 96rem;
}

.hat .logo {
    display: inline
}

.masthead {
    height: 34rem;
    margin: 0 auto;
    position: relative;
    width: 96rem;
}

.head-bloc {
    width: 31.7rem;
}

.hat p.heading {
    font-family: var(--display);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 .2rem;
}

.hat p {
    font-size: 1.3rem;
    line-height: 1.45;
    margin: 0;
}

.head-bloc.support {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: right;
    width: 31.7rem;
}

.head-bloc.support .logo {
    width: 10rem;
}

.hat .mono {
    font-family: var(--mono);
}

#eyepop {
    position: absolute;
    width: 510px;
    left: 14px;
    top: 13px;
    text-align: left;
    background-color: #FFF;
    z-index: 10;
    visibility: hidden;
}

#eyepop2 {
    position: absolute;
    width: 510px;
    left: 14px;
    top: 13px;
    text-align: left;
    background-color: #FFF;
    z-index: 20;
    visibility: hidden;
}



.longform {
    border-right: 1px solid #9f9f9f;
    padding: 1rem 0 4rem 0;
    margin: 0;
}

.longform-wrap {
    width: 40rem;
}

.longform article {
    border-bottom: 1px solid #9f9f9f;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 1.5rem 0;
}

.longform article:last-child {
    border-bottom: none;
}

.longform article footer {
    margin: 1rem 0 0 0;
}

.longform article footer a {
    color: var(--slate-gray);
}

.longform article footer p {
    font-size: 1.2rem;
    margin: 0;
}

.longform article p.pubdate {
    color: var(--slate-gray);
    font-size: 1.4rem;
    margin: 0 0 1rem;
    opacity: .8;
}

.longform article footer svg {
    display: inline;
    margin-top: -2px;
    vertical-align: middle;
}

.longform .article-body blockquote,
.longform .article-body ol,
.longform .article-body p,
.longform .article-body ul {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    text-wrap: prettyl
}

.longform .article-body blockquote {
   border-left: 1px solid #1f1f1f;
   margin-left: 0;
   padding-left: 1.5rem;
}

.longform .article-body ol,
.longform .article-body ul {
   list-style-position: outside;
   padding-left: 1.55rem;
}

.longform .article-body ol li,
.longform .article-body ul li {
   margin-bottom: .25rem;
}

.longform .article-body p a {
    border-bottom: 1px solid #f30;
    color: #f30;
    font-weight: 500;
}

.longform h2 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    text-wrap: pretty;
}

.longform .featured h2 {
    margin: 0;
    font-family: 'new-spirit-condensed', serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    text-wrap: pretty;
}

.longform .tag-art h2 {
    margin: 0;
    font-size: 2.8rem;
}

.longform h2 a {
    color: var(--onyx);
    transition: color 0.3s ease-in-out;
}

.longform h2 a:hover {
    border: none;
    color: var(--orangeish);
}

.longform h3, .longform h4 {
    font-size: 1.7rem;
}

.longform .tag-quote h2 {
    display: none
}

.longform .tag-quote blockquote {
    border: none;
    font-family: var(--display);
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 4.4rem 0;
    padding-left: 0;
}

.longform .tag-quote blockquote:after {
    background-color: #1d1d1f;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: relative;
    top: 2.2rem;
    width: 200px;
}

.longform .tag-quote cite {
    display: block;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 1rem;
}

.longform .tag-quote cite a::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M7 7h10v10'/%3E%3Cpath d='M7 17 17 7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 16px;
    margin-left: 1px;
    position: relative;
    top: 1px;
    transition: transform 0.2s ease;
    vertical-align: middle;
    width: 16px;
}

.longform .tag-quote cite a:hover::after {
    transform: translate(2px, -2px);
}

.longform article figure.kg-image-card {
    margin-bottom: 1.5rem;
}

.longform article img {
    background: #f5f5f7;
    border: 1px solid #9f9f9f;
    border-radius: .5rem;
    padding: 6px;
}

.longform figcaption {
    color: var(--slate-gray);
    font-size: 1.1rem;
    font-weight: 400;
    margin: .2rem 0 0;
    padding: 0;
    text-align: left;
}


.lilcol {
    border-right: 1px solid #9f9f9f;
    margin: 0;
}

.lilcol.quickbytes {
    width: 31rem;
    padding: 1rem 1.5rem 3rem;
}

.lilcol.misc {
    border-right: none;
    padding: 1rem 0 3rem;
    width: 25rem;
}

.lilcol-wrap {
    width: 24.4rem;
}

.quickbytes {
    padding-top: 1rem
}

.lilcol h4 {
    align-items: center;
    display: flex;
    gap: .5rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 0 0 1.5rem;
}

.lilcol.quickbytes h4 {
    margin-bottom: 1rem;
}

.misc h4 {
    margin-bottom: .5rem;
}

.lilcol h4 svg {
    display: inline;
    margin-top: -1px;
    vertical-align: middle;
}

.quickbytes article {
    margin-bottom: 2rem;
}

.quickbytes article span {
    font-size: 1.3rem;
}

.quickbytes article span a {
    color: var(--slate-gray);
}

.lilcol p {
    font-size: 1.4rem;
    line-height: 1.45;
}

.quickbytes article p a {
    border-bottom: 1px solid #f30;
    color: #F30;
    font-weight: 500;
}

.quickbytes article p a:hover {
    border-bottom: none;
    color: var(--onyx);
    font-weight: 500;
}

.quickbytes article svg {
    float: left;
    margin: 2px 4px 0 0;
    vertical-align: middle;
}

.misc section {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid #9f9f9f;
    padding: 0 0 1.5rem 1.5rem;
}

.misc section p {
    margin-bottom: 1.5rem;
}

.misc blockquote {
    font-family: var(--display);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-wrap: balance;
}

.misc blockquote cite {
    display: block;
    font-family: var(--sans-serif);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    margin: 1rem 0 0 0;
    padding: 0;
}

.input-group {
    width: 100%;
}

.input-group input {
    border: 1px solid #cfcfcf;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: var(--display);
    font-size: 1.6rem;
    margin-bottom: .75rem;
    padding: 0.5rem;
    width: 100%;
}

.input-group input:focus {
    outline: none;
    border-color: #666;
}

.input-group input::placeholder {
    color: var(--onyx);
    transition: opacity 0.2s ease;
}

.input-group input:focus::placeholder {
    opacity: 0;
}

.input-group button {
    background: var(--orangeish);
    border: 1px solid var(--orangeish);
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    font-family: var(--display);
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

.input-group button:hover {
    background: #4f46e5;
}

#pixframe2 {
    padding: 12px 0px 8px 14px;
}




#threecol {
    padding:0;
    margin: 0px 0px 0px 0px;
    text-align: left;
    float: left;
}

#threetext {
    width: 480px;
    font-size: 11px;
    line-height: 17px;
}

/* ===== TESTIMONIAL BLOCK ===== */
.quotes {
    background: #f5f5f7;
    border: 1px solid #9f9f9f;
    margin: 0 auto;
    width: 96rem;
}
#testimonal {
    height: 220px;
    transition: opacity 0.5s ease-in-out;
}

.testimonials {
    position: relative;
}

.testimonial-content {
    left: 50%;
    padding: 0 3rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    max-width: 48rem;
}

.testimonial-content img {
    background: #f5f5f7;
    border: 1px solid #dfddd7;
    border-radius: 9999px;
    filter: grayscale(35%);
    height: 45px;
    margin: -2px 2px 0 0;
    padding: 3px;
    width: 45px;
}

.testimonials blockquote {
    border: none;
    font-family: var(--display);
    font-style: normal;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    text-wrap: pretty;
}

.testimonials blockquote cite {
    display: block;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 350;
    margin: 1.5rem 0 0 0;
}

.testimonials blockquote cite a {
    text-decoration: none
}

.testimonials blockquote cite a:hover {
    color: var(--strong-blue);
    text-decoration: underline;
}

.testimonials blockquote img,
.testimonials blockquote svg {
    display: inline;
    margin: -1px 0 0 0;
    transition: opacity 0.3s ease;
    vertical-align: middle;
}

.testimonials blockquote svg {
    opacity: .3;
    transition: transform 0.3s ease;
}

.testimonials blockquote a:hover svg {
    opacity: 1;
    transform: translateX(3px);
}

.testimonial-content {
    quotes: "\201C" "\201D";
}



/* 			_______________________	*/
/*			THE NAVIGATION			*/

#nav {
    border-bottom: 3px double #9f9f9f;
    font-size: 1.3rem;
    margin: 0 0 1.5rem 0;
    padding: 0 0 1.5rem 0;
}

#navPyra {
    margin: 0;
    padding: 2px 2px 2px 0;
    text-decoration: none;
    border: 0;
}

#navPyra li {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    list-style-type: none;
    border: 0;
}

#navPyra a:link,
#navPyra a:visited {
    font-size: 1.3rem;
    line-height: 1.45;
    padding: 0px 0px 0px 14px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    border: 0;
}

#navPyra a:link.active,
#navPyra a:visited.active,
#navPyra a:hover {
    color: #222;
    text-decoration: none;
    background: url(/web/20050301194246im_/http://www.coudal.com/i/tab_pyra.gif) no-repeat left top;
    border: 0;
}

#navPyra a:visited {
    color: #555;
    text-decoration: none;
    border: 0;
}
