  <div class="lilcol quickbytes">
    <h4>Quick Bytes {{> "icons/feed"}}</h4>
    {{#get "posts" include="tags,authors" filter="tags:[bookmarks,qik,noted,note,link]" limit="40" as |post|}}
        {{#post}}
        {{> "cards/quickbytes-card"}}
        {{/post}}
    {{/get}}
        <p>
        Feed: <a href="https://web.archive.org/web/20050301003430/http://feeds.feedburner.com/CoudalFreshSignals">RSS, Atom, Etc.</a>
        </p>
</div>