.skybar {
    align-content: flex-start;
    border-bottom: 1px solid var(--uchu-gray-8);
    display: flex;
    gap: 4rem;
    height: auto;
    justify-content: space-between;
    margin: .75rem auto 0;
    padding: .75rem 0;
    position: relative;
    text-align: left;
    width: 96rem;
}

.skybar p,
.skybar ul {
    font-family: var(--display);
    font-size: 1.4rem;
}

.skybar p a, .skybar ul a {
    color: oklch(64.63% 0.240916 32.6151);
    font-weight: 400;
}

.skybar p a:hover {
    border-bottom: 1px solid oklch(64.63% 0.240916 32.6151);
    color: oklch(64.63% 0.240916 32.6151);
    font-weight: 600;
}

.skybar ul li {
    display: inline;
    font-weight: 400;
    list-style-type: none;
    margin-right: 2rem;
}

.skybar ul li:last-child {
    margin-right: 0;
}

.skybar img.logo {
    display: inline;
}

.skybar p svg,
.skybar ul svg {
    display: inline;
    height: 15px;
    margin: -1px 0 0 0;
    vertical-align: middle;
    width: 15px;
}

.skybar ul svg {
    margin-right: 2px
}

.skybar p svg.locate-fixed {
    margin-right: 3px
}

.hat {
    align-content: flex-start;
    border-bottom: 3px double var(--uchu-gray-8);
    display: flex;
    gap: 4rem;
    height: auto;
    justify-content: space-between;
    margin: 1rem auto;
    padding: .5rem 0 1.5rem;
    position: relative;
    text-align: left;
    width: 96rem;
}

.hat .logo {
    display: inline;
}

.masthead {
    height: 34rem;
    margin: 0 auto;
    position: relative;
    width: 96rem;
}

.masthead img {
    border-radius: .5rem;
}

.head-bloc {
    width: 31.7rem;
}

.hat p.heading {
    color: var(--uchu-yin-9);
    font-family: var(--display);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

.hat p.heading a:hover {
    color: var(--orangeish);
    border: none;
}

.hat p {
    font-size: 1.35rem;
    line-height: 1.45;
    margin: 0;
    text-wrap: pretty;
}

.head-bloc.support {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: right;
    width: 31.7rem;
}

.head-bloc.support .logo {
    width: 10rem;
}

.hat .mono {
    font-family: var(--mono);
}

#eyepop {
    background-color: #FFF;
    left: 14px;
    position: absolute;
    text-align: left;
    top: 13px;
    visibility: hidden;
    z-index: 10;
    width: 510px;
}

#eyepop2 {
    position: absolute;
    width: 510px;
    left: 14px;
    top: 13px;
    text-align: left;
    background-color: #FFF;
    z-index: 20;
    visibility: hidden;
}
